---
import Layout from '../layouts/Layout.astro'
import { Hero } from '../components/Hero.jsx'
import { Navbar } from '../components/Navbar.jsx'
import { Analytics } from '../components/Analytics.jsx'
import { About } from '../components/About.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton'
import '../styles/Theme.css'
import '../styles/Diagonals.css'
---
<Layout title="Doughploma">
  <Navbar client:load />
  <section id="home">
    <Hero client:load />
  </section>
  <section id="analytics">
    <Analytics client:load />
  </section>
  <section id="about">
    <About client:load />
  </section>
  <Footer />
  <ScrollUpButton client:load />
</Layout>